<app-header></app-header>
<div>
  <img src="{{service.dataDetail.imageLinks.thumbnail}}" class="rounded mx-auto mt-3 d-block" alt="..."
    style="height: auto; width:15%">
  <div class="text-center mt-2">
    <h2>{{service.dataDetail.title}}</h2>
    <p>{{service.dataDetail.subtitle}}</p>
  </div>
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="descrizione-tab" data-bs-toggle="tab" data-bs-target="#descrizione"
        type="button" role="tab" aria-controls="descrizione" aria-selected="true">Descrizione</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="autore-tab" data-bs-toggle="tab" data-bs-target="#autore" type="button" role="tab"
        aria-controls="autore" aria-selected="false">Autore</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab"
        aria-controls="info" aria-selected="false">Info</button>
    </li>
  </ul>
  <div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active p-3" id="descrizione" role="tabpanel" aria-labelledby="descrizione-tab">
      <p>
        {{service.dataDetail.description}}
      </p>
    </div>
    <div class="tab-pane fade p-3" id="autore" role="tabpanel" aria-labelledby="autore-tab">
      <p>
        {{service.dataDetail.authors}}
      </p>
    </div>
    <div class="tab-pane fade p-3" id="info" role="tabpanel" aria-labelledby="info-tab">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Data Pubblicazione</th>
            <th scope="col">Casa Editrice</th>
            <th scope="col">Categoria</th>
            <th scope="col">Numero pagine</th>
            <th scope="col">Lingua</th>
            <th scope="col">Formato</th>
            <th scope="col">Età consigliata</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{service.dataDetail.publishedDate}}</td>
            <td>{{service.dataDetail.publisher}}</td>
            <td>{{service.dataDetail.categories}}</td>
            <td>{{service.dataDetail.pageCount}}</td>
            <td>{{service.dataDetail.language}}</td>
            <td>{{service.dataDetail.printType}}</td>
            <td>{{service.dataDetail.maturityRating}}</td>
          </tr>
        </tbody>
      </table>
      <p>
        Per acquistare: <a target="_blank" href="{{service.dataDetail.infoLink}}"><button type="button"
            class="btn btn-info">Clicca qui</button></a>
      </p>
    </div>
  </div>
</div>
